/*Début CSS Bandeau*/

.dropdown-menu {
    background-color: #212529;
  }
  
  .dropdown-item {
    color: white;
  }
  
  /*Fin CSS Bandeau*/

  /*Début CSS Team*/

  body{
    background-color: rgb(34, 33, 33);
  }


.img-fluid {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border-left: red solid 4px;
}

.img-fluid:hover {
    filter: drop-shadow(5px 5px 3px rgb(255, 0, 0));
}

.btn-secondary {
    background-color: #a10c0ced;
    color: white;
    border: 2px solid #a10c0ced ;
}

.btn-secondary:hover {
    background-color: rgb(15, 8, 77);
    color: #ffffffed;
    border: 2px solid white
}

h2 {
    color: white;
}

.metier {
    color: white;
    font-size: 20px;
}

.description {
    color: white;
    font-size: 15px;
    font-style: italic;
}

.p-3 {
    border-radius: 10%;
    border-left: 4px solid rgb(9, 0, 63);
}

.container {
    margin-top: 30px;
}

  /*Fin CSS Team*/


  /*Début CSS Footer*/

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}


footer {
    flex-direction: column;
    margin: 0 auto;
    color: white;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;

}

#footerfaq{color: white;
    text-decoration:#212529;
}

#footercontact{color: white;
    text-decoration:#212529;
}

.texte {
    text-align: center;

    background-color: #212529;
}



.row {
    display: flex;
    justify-content: center;
}

.reseau {
    padding-top: 29px;
}

.campus {
    width: 50px;
    padding-top: 22px;
}


@media screen and (max-width:640px) {
    .campus {
        max-width: 100% !important;
        width: 75%;
    }
}

footer .row {
    background-color: #212529;

}

#reseaux {
    background-color: #384047;

}
  /*Fin CSS Footer*/
  