body {
  background-color: rgb(252, 250, 250);
}

.paragraphe_centre {
  text-align: left;
  margin-left: 10%;
}

#contenair-catalogue {
  margin-left: 10%;
  margin-right: 10%;
}

.titre_catalogue {
  text-align: center;
}

.type_abonnement {
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  body {
    background-color: rgb(255, 30, 0);
  }
}

@media (max-width: 1200px) {
  body {
    background-color: yellowgreen;
  }
}
