body {
  background: rgb(34, 33, 33);
}

.logo img {
  width: 10%;
}

.bonjour .cases {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 250px 0;
}

.bonjour .cases .case {
  width: 49%;
  margin: 0 auto;
  text-align: center;
}

.bonjour .cases .case a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px solid white;
  color: white;
  text-align: center;
  transition: 1s;
  padding: 6rem;
}

.bonjour .cases .case a:hover {

  background-color: white;
  color: black;
}